.character-img {
  max-width: 100%;
}

.name {
  background-color: #1e1e1e;
  color: rgb(180, 180, 180)
}

h1 {
  color: #797272;
}

.search-box {
  margin: 13px;
}

.character-thumbnails {
  margin-bottom: 20px;
  border-radius: 5px;
}

.character-thumbnails:hover {
  border: 5px solid yellow;
  cursor: pointer;
}
